* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
}

.header {
    background: url(assests/bg-img.jpg) right / cover no-repeat fixed;
    height: 100vh;
}

.social-bg {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-bg:hover {
    background-color: #ff4d4f;
    transform: translateY(-5px);
    box-shadow: 0 0 12px #ff4d4f;
}

.about,
.section {
    background-color: #141414;
}

.profile-card {
    background-color: #1c1c1c;
}

.active-status {
    position: absolute;
    height: 18px;
    width: 18px;
    bottom: 16px;
    right: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}

.download,
.contact {
    cursor: pointer;
    transition: all 0.3s ease;
}

.download:hover,
.contact:hover {
    background-color: #ff4d4f;
    transform: translateY(2px);
    box-shadow: 0 0 12px #ff4d4f;
}

.section-tag, .current-badge, .duration, .badge{
    color: #ff4d4f;
    background-color: rgba(255, 77, 79, 0.1);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.my-detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 40px;
}

.my-detail-grid>div {
    background-color: #1c1c1c;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.my-detail-grid>div:hover {
    transform: translateY(-6px);
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 77, 79, 0.3);
}

.my-detail-grid strong {
    color: #fff;
    display: block;
    word-break: break-word;
}

.my-detail-grid span {
    color: #aaa;
    font-size: 14px;
}
.contact, .downlaod{
    transition: all 0.3s ease;
}
.contact:hover, .downlaod:hover{
    background-color: #ff4d4f;
    transform: translateY(-2px);
    box-shadow: 0 0 12px #ff4d4f;
    cursor: pointer;
}
.line {
    height: 1px;
    width: 40px;
    background-color: #ff4d4f;
    margin: 0 auto;
}

.section-badge {
    background: linear-gradient(120deg, #ff3d3d, #ff7a5a);
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}
.company-badge{
    padding: 14px;
    background: linear-gradient(60deg, #ff2d55, #ff416c, #ff7f50);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.exp-card{
    background-color: #1c1c1c;
    transition: all 0.3s ease;
    cursor: pointer;
}
.exp-card:hover{
    transform: translateY(-6px);
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
