* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
}

.header {
    background: url(assests/bg-img.jpg) right / cover no-repeat fixed;
    height: 100vh;
}

.nav-link {
    transition: all 0.3s ease;

}

.nav-link:hover {
    background-color: #e32e31;
}

.social-bg {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-bg:hover {
    background-color: #ff4d4f;
    transform: translateY(-5px);
    box-shadow: 0 0 12px #ff4d4f;
}

.about,
.section {
    background-color: #141414;
}

.profile-card {
    background-color: #1c1c1c;
}

.active-status {
    position: absolute;
    height: 18px;
    width: 18px;
    bottom: 16px;
    right: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}

.download,
.contact {
    cursor: pointer;
    transition: all 0.3s ease;
}

.download:hover,
.contact:hover {
    background-color: #ff4d4f;
    transform: translateY(2px);
    box-shadow: 0 0 12px #ff4d4f;
}

.section-tag,
.current-badge,
.duration,
.badge,
.duration,
.span {
    color: #ff4d4f;
    background-color: rgba(255, 77, 79, 0.1);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.my-detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 40px;
}

.my-detail-grid>div {
    background-color: #1c1c1c;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.my-detail-grid>div:hover {
    transform: translateY(-6px);
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 77, 79, 0.3);
}

.my-detail-grid strong {
    color: #fff;
    display: block;
    word-break: break-word;
}

.my-detail-grid span {
    color: #aaa;
    font-size: 14px;
}

.contact,
.downlaod {
    transition: all 0.3s ease;
}

.contact:hover,
.downlaod:hover {
    background-color: #ff4d4f;
    transform: translateY(-2px);
    box-shadow: 0 0 12px #ff4d4f;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 40px;
    background-color: #ff4d4f;
    margin: 0 auto;
}

.section-badge {
    background: linear-gradient(120deg, #ff3d3d, #ff7a5a);
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.company-badge {
    padding: 14px;
    background: linear-gradient(60deg, #ff2d55, #ff416c, #ff7f50);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.exp-card {
    background-color: #1c1c1c;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.timeline-content {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 12px
}

.exp-card:hover {
    transform: translateY(-6px);
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.hover-line {
    content: "";
    height: 4px;
    width: 0%;
    background-color: #ff4d4f;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.exp-card:hover .hover-line {
    display: block;
    width: 100%;
}

.educaion-timeline {
    position: relative;
}

.education-timeline {
    position: relative;
    padding-left: 40px;
}

.timeline-track {
    position: absolute;
    left: 15px;
    top: 0;
    width: 2px;
    height: 450px;
    background-color: #ff4d4f;
}

.timeline-track-2 {
    position: absolute;
    left: 15px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ff4d4f;
}

.timeline-items {
    position: relative;
    margin-bottom: 40px;
}

.timeline-maker {
    position: absolute;
    left: -50px;
    top: 0;
    background: linear-gradient(60deg, #ff2d55, #ff416c, #ff7f50);
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #e32e31;
    box-shadow: 0 0 5px #ff4d4f;
}

.timeline-maker-2 {
    position: absolute;
    left: -45px;
    top: 0;
    background: linear-gradient(60deg, #ff2d55, #ff416c, #ff7f50);
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #e32e31;
    box-shadow: 0 0 5px #ff4d4f;
}

.achivement {
    color: #ff4d4f;
    background-color: rgba(255, 77, 79, 0.1);
    padding: 6px 16px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    border-left: 3px solid #ff4d4f;
}

.timeline-content {
    transition: all 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: translateX(6px);
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.srv {
    display: flex;
    flex-wrap: wrap;
}

.srv-card {
    min-height: fit-content;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #ff2d55;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgba(217, 217, 217, 0.2);
    background-color: #1c1c1c;
    overflow: hidden;
    position: relative;
}

.srv-card:hover {
    transform: translateY(-6px);
    border: 2px solid #ff4d4f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    word-break: break-word;
}

.srv-card:hover .srv-icon {
    color: white;
    transform: rotate(10deg);
    scale: 1.1;
    background-color: #e32e31;
}

.srv-icon {
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 61, 61, 0.1);
    font-size: 1.7rem;
    color: red;
    transition: all 0.3s ease-in-out;
}

.srv-text>h4 {
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
}

.srv-text>p {
    font-size: 12px;
    word-break: break-word;
}

.explore {
    max-width: fit-content;
    display: flex;
    align-items: center;
    color: white;
    align-self: center;
    padding: 6px 16px;
    border-radius: 12px;
    font-size: 14px;
    gap: 15px;
    transition: gap 0.3s ease-in-out;
}

.explore {
    transition: gap 0.3s ease-in-out;
}

.explore:hover {
    gap: 22px;
}

.upper-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 77, 79, 0.8);
}

.feature-tag {
    position: absolute;
    top: 21px;
    right: -47px;
    padding: 7px 50px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #e32e31;
    transform: rotate(45deg);
    box-shadow: 0px 3px 19px rgba(255, 255, 255, 0.3);
}

.project-box {
    background: linear-gradient(135deg, #ff4d4f,
            color-mix(in srgb, #ff4d4f, #667eea 40%));
    border-radius: 19px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: relative;
    overflow: hidden;
}

.project-box::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -19%;
    width: 400px;
    height: 400px;
    background:
        color-mix(in srgb, #ffffff, transparent 90%);
    border-radius: 50%;
    z-index: 0;
}

.start-btn {
    border-radius: 2rem;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.8);
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: white;
    text-decoration: none;
    color: #e32e31;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.start-btn:hover {
    transform: translateY(-5px);
}

.portfolio-filters {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter {
    list-style: none;
    color: white;
    border: 1px solid color-mix(in srgb, #d9d9d9, transparent 80%);
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #e32e31;
    color: #ffff;
    border: 1px solid #e32e31;
}

.filter:hover {
    color: #e32e31;
    border: 1px solid #e32e31;
}

.portfolio-overlay{
    position: absolute;
    padding-top: 30px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    transition: all 0.3s ease-in-out;
}

.arrow-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 10px;
    margin-bottom: 15px;
    flex-direction: row;
    position: relative;
    right: 70px;
    bottom: 60px;
}
.portfolio-items{    
    transition: all 0.3s ease-in-out;
    position: relative;
}

.portfolio-items:hover .portfolio-overlay{
    display: flex !important;
}

.portfolio-items {
    min-width: 350px;
    max-height: 416px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 15px;
}

.portfolio-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    width: 100%;
}

.img-info {
    gap: 8px;
    display: flex;
}

.image-duration {
    color: #aaa;
    font-size: 15px;
}

.contact-data {
    border: 1px solid #1c1c1c;
    border-radius: 7px;
    color: white;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1c1c1c;
    transition: all 0.3s ease-in-out;
    border: 1px solid color-mix(in srgb, #d9d9d9, transparent 90%);
    word-break: break-word;
}

.contact-data:hover {
    border: 1px solid #ff4d4f;
    color: #ff4d4f;
    box-shadow: 0px 0px 10px #ff4d4f;
}

.contact-data:hover .icon>i {
    background-color: #ff4d4f;
    color: white;
}

.icon>i {
    font-size: 22px;
    margin-right: 13px;
    padding: 10px;
    border-radius: 100%;
    background:
        color-mix(in srgb, #ff4d4f, transparent 90%);

    transition: all 0.3s ease-in-out;
}

.icon>i:hover {
    background-color: #ff3d3d;
    color: white;
}

.contant-detail>h3 {
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}

.contant-detail>p {
    font-size: 14px;
}

.form {
    background-color: #1c1c1c;
    border: 1px solid color-mix(in srgb, #d9d9d9, transparent 90%);
    border-radius: 7px;
    display: flex;
}

.form-control {
    background-color: transparent;
    border: 1px solid color-mix(in srgb, #d9d9d9, transparent 80%);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    color: white;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem color-mix(in srgb, #ff4d4f, transparent 80%);
    border-color: #ff4d4f;
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    color: #d9d9d9;
}

.submit {
    background-color: #ff3d3d;
    color: white;
    border: 1px solid #ff3d3d;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    display: flex;
    justify-self: center;
    align-self: center;
}

.submit:hover {
    background-color: #ff4d4f;
    color: white;
    border: 1px solid #ff2d55;
    box-shadow: 0px 0px 10px #ff4d4f;
}

.footer-links {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    padding-left: 0px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.footer-links:hover {
    color: #ff4d4f;
}

.list-group>a {
    text-decoration: none;
}

.copyright {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.copyright-foot {
    background-color:
        color-mix(in srgb, #d9d9d9, transparent 95%);
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}
.icons{
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    color: #ff4d4f;
    font-weight: lighter;
}
.icons:hover{
    background-color: #ff4d4f;
    color: white;

}
